<div class="container">
  <form>
    <div class="form-group">
      <label for="question">Question</label>
      <input type="text" class="form-control" id="question" aria-describedby="questionHelp"
             placeholder="Enter question">
      <small id="questionHelp" class="form-text text-muted">Max 80 characters.</small>
    </div>
    <div class="form-group">
      <label for="choice">Choice</label>
      <input type="text" class="form-control" id="choice" aria-describedby="choiceHelp"
             placeholder="Enter choice">
      <small id="choiceHelp" class="form-text text-muted">Max 80 characters.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
