<div class="container" *ngIf="poll$ | async; let poll">
  <form>
    <fieldset>
      <div class="form-group">
        <h3 class="control-label" id="q1">
          {{poll?.question}}
        </h3>
        <br>
        <div class="col">
          <ng-container *ngFor="let choice of poll.choices; let i = index; trackBy: trackBy">
            <div class="radio" *ngIf="choice.name">
              <label [for]="'choice-' + i" class="form-check-label"> </label>
              <input class="form-check-input" name="choice"
                     [value]="choice.id" type="radio" [id]="'choice-' + i"
                     [(ngModel)]="selectedChoice">
              {{choice.name}}
            </div>
          </ng-container>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="btn-holder">
    <button [disabled]="!selectedChoice || poll.choices.length <= 1" type="submit" class="btn btn-outline-secondary"
            (click)="onVoteClick()">Vote
    </button>
  </div>
</div>
