<div class="container" *ngIf="poll$ | async; let poll">
  <div class="card mb-3 shadow-lg">
    <div class="card-body">
      <form>
        <fieldset>
          <div class="form-group">
            <h3 class="control-label" id="q1">
              {{poll?.question}}
            </h3>
            <br>
            <div class="col">
              <ng-container *ngFor="let choice of poll.choices; let i = index; trackBy: trackBy">
                <div class="radio" *ngIf="choice.name">
                  <label [for]="'choice-radio' + i" class="form-check-label">
                    <input class="form-check-input" name="choice"
                           [value]="choice.id" type="radio" [id]="'choice-radio' + i"
                           [(ngModel)]="selectedChoice">
                    {{choice.name}}
                  </label>
                </div>
              </ng-container>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="d-flex flex-row-reverse mt-auto">
    <button [disabled]="!selectedChoice || poll.choices.length <= 1"
            type="submit" class="btn btn-outline-secondary" id="voteBtn"
            (click)="onVoteClick()">Vote
    </button>
  </div>
</div>
