/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~remixicon/fonts/remixicon.css';

body, html {
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: whitesmoke;
}

.navbar-brand {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-transform: capitalize;
  color: #20B2AA;
}

.border-right {
  border-right: 1px dashed #333;
}

.container {
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
  height: 80vh;
  display: flex;
}

.container .btn-holder {
  justify-content: flex-end;
  display: flex;
}
